assembly:
  assem_level: scaffold
  assem_version: 1
  sample_id: xcParTurq1
  latin_name: Pareledone turqueti
  defined_class: Cephalopoda
  project_id: AToL
reference_file: ${PWD}/results/ascc/xcParTurq1.1/pacbio_hifi.phased/PRIMARY_HAPLO_combined.fasta.gz
map_order: length
assem_reads:
  read_type: hifi
  read_data:
    - ${PWD}/results/qc/reads/PACBIO_SMRT/bpa-avid-pacbio-hifi-668779-m84073_260813_074149_s2.fasta.gz
    - ${PWD}/results/qc/reads/PACBIO_SMRT/bpa-avid-pacbio-hifi-668779-m84073_260714_071431_s1.fasta.gz
    - ${PWD}/results/qc/reads/PACBIO_SMRT/bpa-avid-pacbio-hifi-668779-m84073_260601_035615_s4.fasta.gz
    - ${PWD}/results/qc/reads/PACBIO_SMRT/bpa-avid-pacbio-hifi-668779-m84073_260813_070932_s1.fasta.gz
    - ${PWD}/results/qc/reads/PACBIO_SMRT/bpa-avid-pacbio-hifi-668779-m84073_260708_083233_s3.fasta.gz
  supplementary_data: path
hic_data:
  hic_cram:
    - ${PWD}/results/qc/reads/Hi-C/bpa-avid-illumina-shortread-668783-23jg5llt3.cram
  hic_aligner: bwamem2
kmer_profile:
  # kmer_length will act as input for kmer_read_cov fastk and as the name of folder in profile_dir
  kmer_length: 31
  profile: ${PWD}/results/genomeassembly/xcParTurq1.1/xcParTurq1.1.pacbio_hifi.phased
self_comp:
  motif_len: 0
intron:
  size: "50k"
telomere:
  teloseq: TTAGGG
synteny:
  - /path/to/synteny.fasta
busco:
  lineages_path: ${PWD}/resources/staging/busco
  lineage: mollusca_odb12
alignment:
  genesets:
    - /path/to/genesets.csv