// ASCC pipeline parameters for Pawsey
// Lifted from https://github.com/sanger-tol/ascc/blob/main/conf/production.config
// with paths updated for Setonix

params {
    config_profile_name = 'AToL ASCC Profile'
    config_profile_description = 'Profile for running ASCC on Setonix'

    // Static database paths
    pacbio_barcode_file = "${projectDir}/assets/ascc_database_fasta/pacbio_adaptors.fa"

    kmer_length = 7
    nt_database_prefix = "nt"
    nt_kraken_database_path = "s3://pawsey1132.atol.refdata.kraken/k2_core_nt"
    ncbi_taxonomy_path = "s3://pawsey1132.atol.refdata.v1/taxdump"
    ncbi_ranked_lineage_path = "s3://pawsey1132.atol.refdata.v1/taxdump/rankedlineage.dmp"

    vecscreen_database_path = "s3://pawsey1132.atol.refdata.vecscreen/vecscreen/"
    diamond_nr_database_path = "s3://pawsey1132.atol.refdata.nr.diamond/diamond/nr.dmnd"
    seqkit_sliding = 100000
    seqkit_window = 6000
    n_neighbours = 13
    filter_cutoff = 1000000000

    // Subworkflow selection
    //  run_btk_busco is set to "off" because SANGER_TOL_BTK doesn't run on
    //  setonix - see
    //  https://github.com/AToL-Bioinformatics/genome-launcher-workflow/issues/5
    run_essentials = "both"
    run_kmers = "off"
    run_tiara = "both"
    run_coverage = "both"
    run_nt_blast = "off"
    run_nr_diamond = "off"
    run_uniprot_diamond = "off"
    run_kraken = "off"
    run_fcsgx = "both"
    run_fcs_adaptor = "both"
    run_vecscreen = "both"
    run_btk_busco = "off"
    run_pacbio_barcodes = "both"
    run_organellar_blast = "genomic"
    run_autofilter_assembly = "both"
    run_create_btk_dataset = "both"
    run_merge_datasets = "genomic"
    run_html_report = "both"
    run_decontaminate_fasta = "both"
}
